body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#keytext {
    vertical-align: 250%;
}

input {
    vertical-align: top;
}

.graph .axis {
    stroke-width: 1;
}

.graph .axis .tick line {
    visibility: hidden;
    stroke: black;
}

.graph .axis .tick text {
    visibility: hidden;
    fill: black;
    font-size: 0.7em;
}

.graph .axis .domain {
    fill: none;
    stroke: black;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}
